*{
    font-family: Arial;
}
body{
    margin: 0;
}
header{
    background-color: lightgray;
    width: 100vw;
    padding: 2em 0;
}

button{
    cursor: pointer;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}

.product-wrapper div{
    margin: 1em;
}

.nav-wrapper{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

.fa-shopping-cart{
    font-size: 1.5em;
    padding:0 0.5em;
}


h1, h2, p{
    text-align: center;

}
h1, h2{
    margin: 1em;
}

.product h2{
    display: inline-block;
    padding-left: 1em;
}

.product-wrapper div img{
    width: 100%;
    height: auto;

}

.product{
    border: 1px solid black;
}
.product button{
    margin: 1em;
}

/* ------- individual product-page ------ */
.product-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1em;
}

.productInfo-box{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 1em;
    padding: 0 1em;
    width: 350px;
}

.review-wrapper > div{
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 1px dotted grey;
    min-width: 250px;
}

.review-wrapper p{
    font-size: 0.9em;
}

.product-info button{
    width: 6em;
    margin: 1em;
    align-self: center;
}

.productInfo-box label,
#rating{
    align-self: center;
    margin-top: 1em;
}

/* ------- individual product-page DESKTOP------ */
@media (min-width: 40em) {
    .product-info{
        flex-direction: row;
        justify-content: space-around;
    }
    .review-wrapper{
        flex-direction: column;
    }
}


/* ------ IMG width for desktop-view ------*/
@media (min-width: 40em) {
    .product-wrapper div img{
    width: 200px;
    }
}



/*----------contact form styling----------*/

.contact-form {
    margin: 0 auto;
    width: 75vw;
}

.input-block {
    background-color: white;
    border: solid 1px darkgray;
    box-shadow: 1px 0px gray;
    margin-bottom: 20px;
}

textarea{
     height: 100%;
}

.form-control{
    margin: 0;
    width: 100%;
    padding: 0.6em 0;
    border: none;
    font-size: 18px;
}


.errorBorder{
    outline-offset: -2px;
    outline: red auto 5px;
}


/* skicka-knappen styling*/
   #square-button{
   height: 60px;
   width: 100%;
   font-size: 26px;
   text-transform: uppercase;
   font-weight: 700;
}
   #square-button:hover{
       background-color: lightgray;
   }

/*--------Styling form desktop-view ----*/
@media (min-width: 40em) {
    .checkout-wrapper{
        margin-top: 3em;
    }
    .col-50{
        width: 49.5%;
        display: inline-block;
    }
    .button-wrap{
        width: 50%;
        margin: 0 auto;
    }
}


/*--------Styling shopping cart mobile-view ----*/
.checkout-row{
    padding: 0.5em;
    border-bottom: 2px solid black;
    background-color: steelblue;
    color: whitesmoke;
    width: 100vw;
}

.checkout-row p{
    padding: 0 1em;
}
.checkout-row > p:first-child{
    width: 200px;
    text-align: left;
    text-decoration: underline;
}

#cartItems{
    display: flex;
    align-self: center;
}
#cartItems p{
    padding: 0.5em;
}

/*--------Styling shopping cart only mobile-view ----*/
@media (max-width: 40em) {
    .checkout-row {
        display: flex;
        flex-direction: column;
    }
    .checkout-row button{
        align-self: center;
    }
}
/*--------Styling shopping cart desktop-view ----*/
@media (min-width: 40em) {
    .checkout-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .checkout-row button{
        align-self: center;
    }
}


/*--------Styling footer ----*/
footer{
    margin-top: 2em;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
footer p{
    text-align: center;
    align-self: flex-end;
}